.main .allposts .post{
    padding: 5px 0;
    border-top: solid rgb(18, 202, 202) 5px;
    padding-top:80px;
    margin-top: 10px;
}
.main .allposts .post img{
    width:100%;
    height:auto;
}
.main .allposts .post h4{
    margin-top:30px;
}
.main .allposts .post a:hover h4{
    color:rgb(18, 202, 202);
}
.main .allposts .post p{
    margin: 50px 0 60px 0;
}
.main .allposts .post p .underline{
    text-decoration: underline;
}
.main .allposts .post .color{
    color: rgb(18, 160, 160);
}
.main .allposts .post .type-date{
    display: flex;
    justify-content: space-between;
    color: rgb(18, 160, 160);
    margin-bottom: 15px;
}
.main .allposts .post .comment-author{
    display: flex;
    justify-content: space-between;
    color: rgb(160,160,160);
    padding-top: 15px;
    border-top: solid rgb(160,160,160) 1px;
    margin-bottom: 50px;
}

.main .pages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}
.main .pages .page-num{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
.main .pages .page-num .num{
    padding: 10px 20px;
    background-color: rgb(239,239,239);
    border-radius: 5px;
    margin: 0px 5px;
    color:rgb(160, 160, 160);
}
.main .pages .page-num .num:hover{
    background-color: rgb(18, 202, 202);
    color: white;
}
.main .pages .page-num .active{
    background-color: rgb(18, 202, 202);
    color: white;
}
.main .pages .page-num .page{
    margin-right: 5px;
    color:rgb(160, 160, 160);
}
.main .pages .page-control a{
    padding: 12px 40px;
    border-radius: 5px;
    margin-right: 15px;
}
.main .pages .page-control .disabled{
    background-color: rgb(239,239,239);
    color:rgb(160,160,160)
}
.main .pages .page-control .active{
    background-color: rgb(18, 202, 202);
    color: white;
}
.main .pages .page-control .disabled:hover{
    cursor: not-allowed;
}
.main .pages .page-control .active:hover{
    background-color: rgb(16, 192, 192);
}

@media screen and (max-width: 798px){
    .main .pages{
        display: block;
    }
    .main .pages .page-control{
        margin-bottom: 30px
    }
    .main .pages .page-control a{
        padding: 12px 40px;
        margin-right: 10px;
    }
    .main .pages .page-num .num{
        padding: 8px 16px;
        background-color: rgb(239,239,239);
        border-radius: 5px;
        margin: 0px 4px;
        color:rgb(160, 160, 160);
    }
    .main .pages .page-num .active{
        background-color: rgb(18, 202, 202);
        color: white;
    }
}
@media screen and (max-width: 575px){
    .main .pages .page-num{
        display: block;
    }
}